.page {
    height: 100vh;
    width: 100vw;
}

.pong {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#plate {
    width: 600px;
    position: relative;
    background: black;
    border: 5px solid black;
    border-radius: 10px;
}

#p1 {
    transition: linear;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
}

#p2 {
    transition: linear;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
}
