.historyPage {
	position: relative;
	width: 100%;
	height: 100%;
	background: black;
	color: whitesmoke;
}

.history_box {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border: 4px solid blue;
}

.historyPage > .history_box > h1 {
	text-align: center;
	font-size: 1.3em;
	padding: 4%;
	color: blueviolet;
}

.history_match {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	left: 1%;
	border: 3px solid whitesmoke;
	border-radius: 15px;
	width: 98%;
	height: 120px;
}

.history_playerOne {
	position: relative;
	width: 40%;
	height: 100%;
}

.history_playerOnePfp {
	background: url("./images/bread.png") center/cover;
	position: absolute;
	border: 3px solid greenyellow;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.history_playerOneName {
	text-align: center;
	margin-top: 80px;
	color: greenyellow;
}

.history_vs {
	display: flex;
	text-align: center;
	align-items: center;
}

.history_playerTwo {
	position: relative;
	width: 40%;
	height: 100%;
}

.history_playerTwoName {
	text-align: center;
	margin-top: 80px;
	color: red;
}

.history_playerTwoPfp {
	background: url("./images/among-us-sus.gif") center/cover;
	position: absolute;
	border: 3px solid red;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}
