.NavBar {
	min-height: 659px;
	display: inline-block;
	margin: 0;
	top: 0;
	height: 100vh;
	width: 60px;
	position: relative;
	transition: 0.5s ease-in-out;
	z-index: 1;
}

.fold {
	left: 0;
}

.unfold {
	left: -60px;
}

.NavBar .affNavBar {
	color: black;
	margin: 11px 5px;
	padding: 12px;
	left: 0;
}

.NavBar .affNavBar:hover {
	cursor: pointer;
	color: whitesmoke;
	background: black;
	border-radius: 50%;
}

#isHere {
	position: absolute;
}

#isHide {
	position: fixed;
}

.hide {
	display: none;
}

.NavBar ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 55px 0;
	background: rgba(245, 245, 245, 0.7);
}

.NavBar ul li {
	margin: 11px 5px;
	padding: 12px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	text-align: center;
}

a:-webkit-any-link {
	text-decoration: none;
	color: black;
}

.NavBar ul li:hover a:-webkit-any-link {
	text-decoration: none;
	color: white;
}

.NavBar ul li:hover {
	background: black;
	border-radius: 50%;
	cursor: pointer;
}

#settings {
	position: absolute;
	bottom: 0;
	margin: 0 5px;
}

@media screen and (max-height: 569px) {
	.NavBar {
		min-height: 569px;
	}

	.NavBar .affNavBar {
		margin: 5px;
	}

	.NavBar ul li {
		margin: 5px;
		padding: 10px;
	}
}
