.profilePage {
	position: relative;
	width: 100%;
	height: 100%;
	background: black;
	color: whitesmoke;
}

.profile_box {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 270px;
	height: 480px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 4px solid rgba(255, 255, 0, 0.8);
	border-radius: 15px;
	margin-top: -10px;
}

.profile_pfp {
	position: absolute;
	background: url("./images/bread.png") center/cover;
	border: 3px solid yellow;
	border-radius: 100px;
	padding: 80px;
	left: 50%;
	top: 29%;
	transform: translate(-50%, -50%);
}

.profile_name {
	text-align: center;
	margin-top: 15px;
	font-size: 1.8em;
}

.profile_wins {
	position: absolute;
	left: 10%;
	top: 54%;
}

.profile_loose {
	position: absolute;
	left: 10%;
	top: 62%;
}

.profile_score {
	position: absolute;
	left: 10%;
	top: 70%;
}

.profile_lvl {
	position: absolute;
	left: 70px;
	bottom: 12%;
}

.profile_xpBar {
	position: absolute;
	height: 20px;
	width: 230px;
	border: 3px solid whitesmoke;
	border-radius: 10px;
	left: 5px;
	bottom: 3%;
}

.profile_xp {
	background-color: aqua;
	border-radius: 10px;
	height: 14px;
	width: 69px;
}

.profilePage #isHide {
	color: whitesmoke;
}
