.history_match {
	position: relative;
	left: 1%;
	width: 98%;
	height: 120px;
	padding: 5px;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 3px solid magenta;
	box-shadow: cyan 3px 3px 6px 0px inset,
				cyan -3px -3px 6px 1px inset;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.1);
}

.history_playerOne {
	position: relative;
	width: 40%;
	height: 100%;
}

.history_playerOnePfp {
	background: url("./images/bread.png") center/cover;
	position: absolute;
	border: 3px solid red;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.history_playerOneName {
	text-align: center;
	margin-top: 80px;
	color: red;
}

.win1 {
	border-color: greenyellow;
	color: greenyellow;
}


.history_vs {
	display: flex;
	text-align: center;
	align-items: center;
	color: cyan;
	text-shadow: 1.5px 1.5px magenta;
}

.history_playerTwo {
	position: relative;
	width: 40%;
	height: 100%;
}

.history_playerTwoPfp {
	background: url("./images/among-us-sus.gif") center/cover;
	position: absolute;
	border: 3px solid red;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.history_playerTwoName {
	text-align: center;
	margin-top: 80px;
	color: red;
}

.win2 {
	border-color: greenyellow;
	color: greenyellow;
}